@import "tailwindcss";

:root {
  --background: #f4f7f6;
  --foreground: #2b2f2f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Inter", var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;

  --color-on-primary: #cfffce;
  --color-on-surface-variant: #585c5c;
  --color-surface-dim: #cfd6d5;
  --color-on-secondary-fixed: #004528;
  --color-on-tertiary: #d9f8ff;
  --color-primary: #006a28;
  --color-tertiary-fixed-dim: #00d4ed;
  --color-on-tertiary-fixed: #003840;
  --color-surface: #f4f7f6;
  --color-error: #b02500;
  --color-surface-container-low: #eef1f0;
  --color-primary-dim: #005d22;
  --color-secondary-fixed: #78f5ae;
  --color-secondary-fixed-dim: #69e6a1;
  --color-surface-bright: #f4f7f6;
  --color-tertiary: #006572;
  --color-on-error: #ffefec;
  --color-tertiary-dim: #005863;
  --color-on-secondary-fixed-variant: #00653c;
  --color-surface-container: #e5e9e8;
  --color-on-primary-container: #005d22;
  --color-error-container: #f95630;
  --color-on-tertiary-fixed-variant: #005762;
  --color-secondary-container: #78f5ae;
  --color-secondary-dim: #005c36;
  --color-surface-container-lowest: #ffffff;
  --color-outline: #747877;
  --color-error-dim: #b92902;
  --color-inverse-surface: #0b0f0f;
  --color-on-tertiary-container: #004d57;
  --color-tertiary-fixed: #00e3fe;
  --color-on-secondary: #cbffda;
  --color-inverse-on-surface: #9a9e9d;
  --color-surface-variant: #d8dedd;
  --color-on-secondary-container: #005a35;
  --color-on-background: #2b2f2f;
  --color-secondary: #00693f;
  --color-surface-container-highest: #d8dedd;
  --color-outline-variant: #aaaead;
  --color-on-primary-fixed-variant: #006827;
  --color-inverse-primary: #5cfd80;
  --color-primary-fixed-dim: #4bee74;
  --color-on-surface: #2b2f2f;
  --color-tertiary-container: #00e3fe;
  --color-surface-container-high: #dee3e2;
  --color-on-error-container: #520c00;
  --color-surface-tint: #006a28;
  --color-on-primary-fixed: #004819;
  --color-primary-fixed: #5cfd80;
  --color-primary-container: #5cfd80;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  vertical-align: middle;
}

.bg-primary-gradient {
  background: linear-gradient(135deg, #006a28 0%, #005d22 100%);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


